

.side h2{
    color: var(--text-menu);
    margin-bottom: 20px;
}
.side .pic{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background: var(--text-menu);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.side .pic h1{
    
    color: var(--body);
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    color: var(--text-menu);
}
.container h3{
    color: var(--text-menu);
    margin: 20px;
}
.container h5{
    color: var(--text-menu);
    margin: 20px;
}
.container input{
    width: 350px;
    height: 30px;
    background: none;
    border: 1px solid var(--text-menu);
    padding: 5px;
    color: var(--text-menu);
}
.content .container .bnt{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background: green;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    
}
.content .container .bnt:hover{
    background: rgba(0, 128, 0, 0.786);
}