

<div class="tittle">
    <h1 id="h1">Favoritos</h1>
</div>
<div class="content">

    

    <div class="container">
        <div class="file">
            <div class="card">
                
                <div class="bar-progress">
                
                    <div class="file-container" [routerLink]="['/posts']" >

                            <i class='icon bx bxs-file-pdf'></i>
                            <span>Titulo do arquivo</span>
                    
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

