

    <div class="tittle">
        <h1>Gostaria de continuar a leitura?</h1>
    </div>

    <div class="container">

        

        <div class="file">
            <div class="card">
                
                <div class="bar-progress">
                
                    <div class="file-container" [routerLink]="['/posts']" >
    
                            <i class='icon bx bxs-file-pdf'></i>
                            <span>Titulo do arquivo</span>
                    
                    </div>

                    <div class="progress">
                    </div>

                    <span>90%</span>
                </div>
            </div>
        </div>

        <div class="file">
            <div class="card">
                
                <div class="bar-progress">
                
                    <div class="file-container" [routerLink]="['/posts']" >
    
                            <i class='icon bx bxs-file-pdf'></i>
                            <span>Titulo do arquivo</span>
                    
                    </div>

                    <div class="progress2">
                    </div>

                    <span>83%</span>
                </div>
            </div>
        </div>

        <div class="file">
            <div class="card">
                
                <div class="bar-progress">
                
                    <div class="file-container" [routerLink]="['/posts']" >
    
                            <i class='icon bx bxs-file-pdf'></i>
                            <span>Titulo do arquivo</span>
                    
                    </div>

                    <div class="progress3">
                    </div>

                    <span>44%</span>
                </div>
            </div>
        </div>

    </div>
