
.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-menu);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.container .file .card .bar-progress{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .progress{
    border-radius: 3px;
    display: flex;
    width: 198px;
    height: 4px;
    background: linear-gradient(to right, #699dfa 0%,  90%, rgb(149, 149, 149) 91%, rgb(149, 149, 149) 100%);
    flex-direction: row ;
    box-shadow: 1px  rgb(203, 203, 203);
}
.container .progress2{
    border-radius: 3px;
    display: flex;
    width: 198px;
    height: 4px;
    background: linear-gradient(to right, #699dfa 0%,  83%, rgb(149, 149, 149) 84%, rgb(149, 149, 149) 100%);
    flex-direction: row ;
    box-shadow: 1px  rgb(203, 203, 203);
}
.container .progress3{
    border-radius: 3px;
    display: flex;
    width: 198px;
    height: 4px;
    background: linear-gradient(to right, #699dfa 0%,  44%, rgb(149, 149, 149) 45%, rgb(149, 149, 149) 100%);
    flex-direction: row ;
    box-shadow: 1px  rgb(203, 203, 203);
}
.container .file .card .bar-progress .file-container .icon{
    font-size: 50px;
}
.container .file .card .bar-progress .file-container{
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    background-color: var(--body-card);
    box-shadow: 0 .25rem .5rem var(--border);
    color: var(--text-menu);
    width: 200px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container .file .card .bar-progress .file-container:hover{
    background: var(--hover);
    /* box-shadow: 0 .25rem .5rem rgb(103, 103, 103);
    animation: ; */
}
span{
    color: var(--text-menu);
}