<h1>Sugestões para você:</h1>

    <div class="link"><a href="">Ver tudo</a></div>

<div class="container" >


        <div class="file-container" [routerLink]="['/posts']" >
            <i class='icon bx bxs-file-pdf'></i>
            <span>Titulo do arquivo</span>
       </div>

        <div class="file-container" [routerLink]="['/posts']" >
           
            
            <i class='icon bx bxs-file-pdf'></i>
            <span>Titulo do arquivo</span>
           
        </div>
  
    
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
 
   

    
</div>
<div class="tittle">
    <h1>Trending</h1>
    <span>Veja os artigos que estão em alta:</span>
</div>
<div class="trending">
    
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>
    <div class="file-container" [routerLink]="['/posts']" >

        
        <i class='icon bx bxs-file-pdf'></i>
        <span>Titulo do arquivo</span>
       
    </div>



</div>